#ion{
	width: 50%;/*latimea*/
	height: 100%; /*inaltimea*/
	background-color: #B0E0E6; /*apeleaza o adresa in caz dat o culoare*/
	color: #333;
	font-family: "Segoe UI", Bauhaus 93, sans-serif;/*tipul scrisului care va fi*/
	font-size: lem; /*marimea tetului nostru*/
	line-height: 135%; /*inaltimea intre rinduri*/
	float: left;
	margin-left:25%;
}

#ion #ion1{
	font-style: bold;
	font: normal small-caps 16px/20px fantasy;
	margin-left: 35%;
}

#ion #nBack{
	width: 50px;
    height: 50px;
}

#ion #ion1 #ion2{
	color: green;
	font-family: "Courier New", Lucida Console, Monospace;
	font-style: italic;
	font-size: 24px;
}

#ion #ion1 #buton:hover{
	cursor: pointer;
	border: 2px solid #f8d881;
}

#ion #ion1 #label:hover{
	border: 2px solid #a2a2a2;
	background-color: #FFFF00;
}

h1 {
	color: red;
	text-align: center;
}